
@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSS18-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka SS18 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSS18-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSS18-ExtendedHeavyItalic.ttf') format('truetype');
}
